/*
Colors used:
Primary Color (Gold): #c0b373;
Secondary Color (Grey): #4e4e4e;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4e4e4e;
}

header {
  background-color: #FFFFFF;
  padding: 10px 0 0px;
  margin: 0px;
  border-bottom: 3px solid #4e4e4e;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.4);
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #a59658;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #4e4e4e;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #4e4e4e;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #A5954A;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #a59658;
  /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  transition-duration: 0.8s;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: transparent;
  color: #A5954A;
  text-transform: uppercase;
  border: 2px solid #A5954A;
}

.button.contact:hover {
  background-color: #A5954A;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0px 15px 15px 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4e4e4e;
}

#work h1 {
  text-align: center;
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: left;
}

#work p {
  text-align: left;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero p {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

#about-page h1 {
  text-align: center;
}

#about-page h2 {
  text-align: center;
}

#about-page h3 {
  text-align: left;
  margin-top: 0;
}

#contact h2 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4e4e;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a59658;
}

#hero {
  background-color: #FAFAF5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  color: #4e4e4e;
}

main {
  padding-top: 126px;
}

footer {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin: 0px;
  width: 100%;
}

@keyframes color-change {
  from {
    fill: #ffe98a;
  }

  to {
    fill: #a5954a;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes plane1-move {
  from {
    transform: translate(300px, 50px);
  }

  to {
    transform: translate(0px, 50px);
  }
}

@keyframes plane2-move {
  from {
    transform: translate(0px, 50px);
  }

  to {
    transform: translate(300px, 50px);
  }
}

.plane1 {
  animation-duration: 20s;
  animation-name: plane1-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.plane2 {
  animation-duration: 20s;
  animation-name: plane2-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.plane3 {
  animation-duration: 20s;
  animation-name: plane2-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(192, 179, 115, 1);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 42px;
  }

  main {
    padding-top: 225px;
  }

  .logo {
    max-width: 250px;
  }

  .col-md-6 {
    width: 50%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }

  [class*="col-md-6"] {
    float: left;
    padding: 20px;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .logo {
      max-width: 250px;
    }

    nav>ul {
      margin: 1em 0;
    }

    main {
      padding-top: 225px;
    }

    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {
      .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

      .logo {
        max-width: 250px;
      }

      nav>ul {
        margin: 1em 0;
      }

      main {
        padding-top: 225px;
      }
    }
  }
}
